.env
.env.*
!.env.example

/vendor/
/node_modules/
/public/build/
/public/hot
/public/img/
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

.phpunit.result.cache
.phpunit.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
.vscode/
.DS_Store
Thumbs.db

/public/images/
