@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-background-2: var(--background-2);
  --color-skin-hover: rgb(var(--color-text-hover));
  --color-skin-heading: rgb(var(--color-text-heading));
  --color-skin-title: rgb(var(--color-text-title));
  --color-skin-base: rgb(var(--color-text-base));
  --color-skin-invert: rgb(var(--color-text-invert));
  --color-skin-muted: rgb(var(--color-text-muted));
  --color-skin-backend-text-base: rgb(var(--color-backend-text-base));
  --color-skin-primary: rgb(var(--color-background-primary));
  --color-skin-secondary: rgb(var(--color-background-secondary));
  --color-skin-default: rgb(var(--color-background-default));
  --color-skin-content: rgb(var(--color-background-content));
  --color-skin-backend-primary: rgb(var(--color-backend-background-primary));
  --color-skin-backend-secondary: rgb(
    var(--color-backend-background-secondary)
  );
  --color-skin-backend-accent: rgb(var(--color-backend-background-accent));

  --color-danger: var(--danger);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-soft-dark: var(--soft-dark);
  --color-gray: var(--gray);
  --color-btn-primary: var(--btn-primary);
  --color-btn-primary-hover: var(--btn-primary-hover);

  --spacing-xsmall: 0.25rem; /* 4px */
  --spacing-small: 0.725rem; /* 11.6px */
  --spacing-large: 1rem; /* 16px */
  --spacing-huge: 1.25rem; /* 20px */
  --spacing-xhuge: 1.5rem; /* 24px */
  --spacing-2xhuge: 2rem; /* 32px */
}

.container {
  @apply mx-auto w-full max-w-310 px-4 sm:px-6 lg:px-8;
}

@layer base {
  :root {
    --default-border: 234, 234, 234;
    --highlight-border: 254, 221, 0;
    --color-text-hover: 254, 221, 0;
    --color-text-heading: 9, 104, 173;
    --color-text-title: 18, 17, 41;
    --color-text-base: 255, 255, 255;
    --color-text-muted: 79, 79, 79;
    --color-text-invert: 17, 16, 19;
    --color-background-primary: 20, 20, 20;
    --color-background-secondary: 254, 221, 0;
    --color-background-default: 238, 238, 238;
    --color-background-content: 255, 255, 255;
    --color-backend-background-primary: 21, 21, 21;
    --color-backend-background-secondary: 37, 37, 37;
    --color-backend-background-accent: 254, 221, 0;
    --color-backend-text-base: 234, 234, 234;
    --danger: oklch(0.6474 0.2027 13.17); /* #EF486A */
    --success: oklch(0.7202 0.1184 134.32); /* #85B567 */
    --success-hover: oklch(0.5515 0.1489 146.79); /* #218838 */
    --warning: oklch(0.789 0.184 75.342); /* #FDA500 */
    --light: oklch(0.9702 0 0); /* #F5F5F5 */
    --dark: oklch(0.2852 0.0182 285.19); /* #292933 */
    --soft-dark: oklch(0.2284 0.0251 284.24); /* #1B1B28 */
    --gray: oklch(0.6988 0.013 286.06); /* #9D9DA6 */
    --background: oklch(0.2393 0.0581 256.66); /* #0B1F3A */
    --background-2: oklch(0.1964 0.0469 258.19); /* #07152A */
    --btn-primary: oklch(0.5604 0.1232 160.11); /* #0E8A5B */
    --btn-primary-hover: oklch(0.4797 0.1044 160.38); /* #0b6F49 */
  }
}
